*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/zxing/build/
/zxing/build/intermediates/javac/debug/classes/
/app/build/
/app/src/main/res/raw/
/app/src/main/res/raw/old/
/app/production/release/
/import-summary.txt
/.idea/
/server.gradle
output.json
loco.sh
